<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>COntact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Open+Sans+Condensed:300" rel="stylesheet">
    <link href="static/rudy-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Open+Sans+Condensed:300" rel="stylesheet">
    <link href="templates/rudy-style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Contact</h1>
                <img src="/static/1900-1080RudyHeadshotRetouch.jpg" class="img-fluid" />
            </div>
        </div>


        <div class="col-8">
            <li>510.604.9582</li>
            <li>rudy@trubitt.com</li>
            <li></li>

        </div>
        <hr>
        
    </div>
</body>
</html>




