{% extends 'base.html'%}
{% block content%}
<body>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Contact</h1>
                <img src="/static/1900-1080RudyHeadshotRetouch.jpg" class="img-fluid" />
            </div>
        </div>


        <div class="col-8">
          <p>Rudy lives in the San Francisco Bay Area.</p>
          <p>UNDER CONSTRUCTION-Send me an email using the form below:</p>
        
        
          <form action="/send-email" method="POST">
            <div class="col-8">
              <div>Your name</div>
              <input name="name" placeholder="Name" />
            </div>
            <div class="col-8">
              <div>Your email</div>
              <input name="email" type="email" placeholder="Email" />
            </div>
            <div class="col-8">
              <div>Type message here:</div>
              <textarea name="message">
              </textarea>
            </div>
            <button type="submit">Submit</button>
          </form>

        </div>
        <hr>
        
    </div>
</body>
</html>
{% endblock content%}



